[Desktop Entry]
Name=NexFort
Comment=Desktop Telegram client focused on privacy and power-user features
TryExec=NexFort
Exec=env DESKTOPINTEGRATION=1 NexFort -- %U
Icon=com.nexfort.desktop
Terminal=false
StartupWMClass=NexFort
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=NexFort -quit
Name=Quit NexFort
Icon=application-exit
